<div class="row">
  <div class="col-sm-4">
    <form id='form-wifi'>
      <div class="form-group">
        <input type="text" class="form-control" id="wifi_ssid" placeholder="SSID (Nombre de la red)">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="wifi_password" placeholder="Constraseña">
      </div>
      <button type="submit" class="btn btn-primary mt-2" onclick="javascript:updateWifiSettings()">
        Conectarse a la Red
      </button>
    </form>
  </div>
</div>